# rnsd --exampleconfig

[reticulum]
  
  enable_transport = False
  
  # share_instance = Yes
  
  # shared_instance_port = 37428
  # instance_control_port = 37429
  
  panic_on_interface_error = No

[logging]
  
  loglevel = 4


[interfaces]
  
# local Reticulum peers over UDP.
[[UDP Interface]]

  type = UDPInterface
  interface_enabled = True

  device = eth0
  port = 4242

